<?xml version="1.0"?>
<launch>
  <arg name="folder" default="bags"/>

<node pkg="rosbag" name="recorder" type="record" output ="screen" args="record -o /media/nvidia/bags/
  /tf
  /tf_static
  /zed/zed_node/depth/camera_info
  /zed/zed_node/odom
  /zed/zed_node/path_odom
  /zed/zed_node/imu/data
  /zed/zed_node/point_cloud/cloud_registered
  /zed/zed_node/depth/camera_info
  /zed/zed_node/rgb/image_rect_color
  /pcl"/>
</launch>
